body{
    background-color: var(--secon-bg-color);
  }
  .contact-container {
      max-width: 600px;
      margin: 0 auto;
      padding: 2rem;
      background-color: #1a0b1d;
      color: #e98d0d;
      text-align: center;
      border-radius: 8px;
    }
    
    .contact-container h2 {
      color: hsl(35, 83%, 72%);
      font-size: 2rem;
    }
    
    .contact-container p {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
    }
    
    .contact-form {
      display: flex;
      flex-direction: column;
    }
    
    .contact-form label {
      text-align: left;
      font-size: 1rem;
      margin-top: 1rem;
      color: #e98d0d;
    }
    
    .contact-form input,
    .contact-form textarea {
      padding: 0.8rem;
      margin-top: 0.5rem;
      border: none;
      border-radius: 5px;
      background:var(--secon-bg-color);
      color: white;
      font-size: 1rem;
    }
    
    .contact-form input:focus,
    .contact-form textarea:focus {
      outline: 2px solid #fbff0086;
    }
    
    .contact-form button {
      margin-top: 1.5rem;
      padding: 0.8rem;
      background-color: #e98d0d;
      color: #1a0b1d;
      font-size: 1rem;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .contact-form button:hover {
      background-color: #8d9b67;
    }
    